/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: #eee;
  display: none;
  overflow: hidden;
}

.sidebar {
  font-family: 'Arimo', sans-serif;
  font-size: 20px;
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2874A6;
  overflow-x: hidden;
  padding-top: 16px;
}

/* Style sidebar links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

/* Style links on mouse-over */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Style the main content */
.main {
  font-family: 'Arimo', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-left: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.centerWindow {
  font-family: 'Arimo', sans-serif;
  font-size: 20px;
  text-align: center;
  border: solid;
  border-width: 1px;
  border-radius: 25px;
  box-shadow: 10px 10px 5px grey;
  /* background-color: antiquewhite; */
  background-color: rgb(253, 251, 239);
}

.accordionBtn {
  background-color: #2874A6;
  border-radius: 10px;
  color: white;
}

.form {
  text-align: center;
  font-weight: bold;
  font-family: 'Arimo', sans-serif;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  box-shadow: 10px 10px 5px grey;
  border-radius: 30px;
  margin: 40px 40px 0px 0px;
  padding: 10px 10px 10px 10px;
  display: none;
  background-color: rgb(253, 251, 239);
}

.form-div {
  float: right;
  margin: -20px 0px 0px 0px;
}

.form:hover {
  border-style: solid;
  border-width: 3px;
  border-color: #2874A6;
}

.form-field-name {
  border-radius: 10px;
  font-size: 26px;
  height: 30px;
  width: 415px;
  margin: 10px 10px 10px 10px;
}

.form-field-review {
  border-radius: 10px;
  font-size: 20px;
  height: 100px;
  width: 415px;
  margin: 10px 10px 10px 10px;
}

.form-submit-button {
  padding: 10px;
  font-size: 26px;
  border-radius: 10px;
}

.form-heading-label {
  position: relative;
  bottom: 0px;
  font-weight: 400;
  font-size: 30px;
}

.form-name-label {
  position: relative;
  right: 140px;
  top: 10px;
  font-weight: 400;
  font-size: 24px;
}

.form-review-label {
  position: relative;
  right: 160px;
  top: 10px;
  font-weight: 400;
  font-size: 24px;
}

.reviews {
  display: none;
  float: left;
  text-align: left;
  font-family: 'Arimo', sans-serif;
  font-weight: 100;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  box-shadow: 10px 10px 5px grey;
  border-radius: 10px;
  margin: 20px 40px 0px 0px;
  padding-left: 10px;
  width: 675px;
  background-color: rgb(253, 251, 239);
}

.reviews:hover {
  border-style: solid;
  border-width: 3px;
  border-color: #2874A6;
}

.departments:hover {
  transform: scale(1.1);
}

.accordionBtn:hover {
  animation-name: background-color;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
}

@keyframes background-color {
  100% {
    background-color: #4791d0;
  }
}

body {
  background-image: url('response-time.png');
}